@import 'chat';

$login-background-color: rgba(48, 84, 116, .3);

form {
  margin: 0;
}

body {
  margin: 0;
  font-family: Verdana, serif;
  font-size: 14pt;
  background: blue;
}

.home {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(/galaxy.jpg) no-repeat;
  background-size: cover;

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100vw;
    height: 10vh;
    background-color: $login-background-color;

  }

  input[type=submit], select {
    font-size: 14pt;
    height: 40px;
    cursor: pointer;
  }

  input[type=submit] {
    text-align: center;
    width: 100px;
    height: 40px;
    color: gold;
    font-family: Verdana, serif;
    padding: 5px;
    background: $card-background-color;

    border: 1px solid #000000;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  }

  .screen-name {
    margin-right: 30px;
    color: White;
    font-size: 1.2em;
  }
}

.chat {
  display: flex;
  flex-direction: row;
}